{% extends "base.html" %}
{% block start %}

    <h1>Index Page</h1>

    <a href="/contact/">
      Contact
    </a>
    |
    <a href="/about/">
      About
    </a>

    <table class="container">
      <tr>
        <th>S.no</th>
        <th>Name</th>
        <th>Age</th>
        <th>Can Vote</th>
      </tr>
      {% for people in peoples %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{people.name}}</td>
        <td>{{people.age}}</td>
        <td " {% if people.age <= 18 %} style="background-color: red" {% endif %}>
          {% if people.age >= 18 %}
          👍
          {% else %}
          👎
          {% endif %}
        </td>

      </tr>

      {% endfor %}
    </table>


    {% endblock %}
